<div class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Bir Seyehat Mı Planlıyorsunuz?</h2>
                <h4>3 Dakika İçinde Seyehatını Planla</h4>
            </div>
            <div class="col-lg-4">
                <div class="border-button">
                    <a href="#" data-toggle="modal" data-target="#ReservationModal">Rezervasyon Yap</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Copyright © @DateTime.Now.Year <a href="#">Woox Travel</a>Tüm Hakları Saklıdır.
                </p>
            </div>
        </div>
    </div>
</footer>
