
<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="~/kaiadmin-lite-1.2.0/index.html" class="logo">
                <img src="~/kaiadmin-lite-1.2.0/assets/img/kaiadmin/logo_light.svg"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="20" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item">
                    <a href="/Default/Index/" target="_blank">
                        <i class="fas fa-home"></i>
                        <p>Anasayfa</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">İşlemler</h4>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Profile/">
                        <i class="fas fa-user"></i>
                        <p>Admin Profil</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Destination/DestinationList/">
                        <i class="fas fa-compass"></i>
                        <p>Destinasyon</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Reservation/ReservationList/">
                        <i class="fas fa-hotel"></i>
                        <p>Rezervasyon</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Widget/Index/">
                        <i class="fas fa-desktop"></i>
                        <p>Araçlar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#charts">
                        <i class="far fa-chart-bar"></i>
                        <p>Grafikler</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="charts">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/Admin/Charts/LineChart">
                                    <span class="sub-item">Çizgi Grafiği</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/Charts/BarChart/">
                                    <span class="sub-item">Bar Grafiği</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/Charts/MultiLineChart/">
                                    <span class="sub-item">Çoklu Çizgi Grafiği</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/Charts/MultiBarChart/">
                                    <span class="sub-item">Çoklu Çubuk Grafiği</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/Charts/DonutChart/">
                                    <span class="sub-item">Donut Grafiği</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#messages">
                        <i class="far fa-envelope"></i>
                        <p>Mesajlar</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="messages">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/Admin/Message/SendMessage/">
                                    <span class="sub-item">Mesaj Gönder</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/Message/Inbox/">
                                    <span class="sub-item">Gelen Mesajlar</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/Message/SendBox/">
                                    <span class="sub-item">Giden Mesajlar</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/Admin/CreditCart/Index/">
                        <i class="fas fa-credit-card"></i>
                        <p>Kredi Kartı</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>