@model WooxTravel.Entities.Admin
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>WooX Travel - Giriş</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="/colorlib-regform-17/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="/colorlib-regform-17/css/style.css">

    <!-- SweetAlert CSS ve JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div class="wrapper" style="background-image: url('/colorlib-regform-17/images/bg-registration-form-1.jpg');">
        <div class="inner">
            <div class="image-holder">
                <img src="/colorlib-regform-17/images/E10320WG.jpg" alt="">
            </div>
            <form method="post">
                <h3>KULLANICI GİRİŞ</h3>
                <div class="form-wrapper">
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Kullanıcı Adınız", @required = "required" })
                    <i class="zmdi zmdi-account"></i>
                </div>
                <div class="form-wrapper">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Şifreniz", @required = "required" })
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <button>
                    Giriş Yap
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>
                <br />
                <div>
                    <h4>Hesabın yok mu?<a href="/Register/Index/"> Kayıt Ol</a>.</h4>
                </div>
            </form>
        </div>
    </div>

    <!-- SweetAlert Bildirim Kodları -->
    @if (TempData["Success"] != null && (bool)TempData["Success"])
    {
        <script>
            Swal.fire({
                title: 'Giriş Başarılı!',
                text: 'Girişiniz başarılı bir şekilde tamamlandı, yönlendiriliyorsunuz..',
                icon: 'success',
                timer: 2500,
                showConfirmButton: false
            }).then(() => {
                window.location.href = '/Admin/Profile/Index';
            });
        </script>
    }
    else if (TempData["Error"] != null)
    {
        <script>
            Swal.fire({
                title: 'Hata!',
                text: '@TempData["Error"]',
                icon: 'error',
                confirmButtonText: 'Tamam'
            });
        </script>
    }
</body>
</html>
